<%- include('../partials/admin-header') %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" ></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" ></script>

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Products List </h2>
            
        </div>
       
    </div>
    <div class="card mb-4">
       
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover" id="myTable">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Category</th>
                            <th scope="col" class="text-start"> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        
<% response.forEach(element => { %>
 
                           
                          
                    
                        
                        <tr>
                            <td><img src="/images/<%=element.filename[0]%>" style="width:30px;height:30px;" alt=""></td>
                            <td ><b><%=element.title %> </b></td>
                            <td > <%=element.description  %>  <template class="__cf_email__" data-cfemail="aec3cfdcd8c7c0eecbd6cfc3dec2cb80cdc1c3"></template></td>
                            <td ><%=element.price  %> </td>
                            <td ><%= element.quantity%> </td>
                            <td ><%=element.category%> </td>
                            <td  class="text-end" >
                                <a href="/admin/editProducts/<%=element._id%>" class="btn btn-md  rounded font-sm"  type="submit">EDIT<i class="ri-edit-2-line"></i></a>
                            
                                <br>
                                <br>
                                <a href="/admin/delete_products/<%=element._id%> "  onclick=" return confirm('are you want<%= element.title %>');"   class="btn btn-md rounded font-sm" style="background-color: rgb(188, 4, 4);">delete<i class="ri-delete-bin-5-line"></i></a>
                                 
                            </td>
                            
                        </tr>
                        <% }) %> 
                      
                    </tbody>
                </table>
            </div> <!-- table-responsive //end -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
  
</section>



<%- include('../partials/admin-footer') %>